@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');
*{
    background-color: black;
    margin: 0;
    padding: 0;
}
.heading{
    text-align: center;
    color: aqua;
}

.card{
    
    width: 198px; 
    border: 3px solid aqua;
    padding: 0 0 20px 0;
    margin: 4px;
}
.post{
    text-align: center;
    color: aqua;
    padding: 10px;
}
.image{
    padding: 5px;
}

.content{
    padding: 3px 3px; 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
}

#pad{
    padding-left: 70px ;
}